.startBg{
  width: 100%;
  height: 100%;
  position: relative;
  background: linear-gradient(
    to bottom,
    #1f2f86 0,
    #3165c4 3%,
    #3682e5 6%,
    #4490e6 10%,
    #3883e5 12%,
    #2b71e0 15%,
    #2663da 18%,
    #235bd6 20%,
    #2258d5 23%,
    #2157d6 38%,
    #245ddb 54%,
    #2562df 86%,
    #245fdc 89%,
    #2158d4 92%,
    #1d4ec0 95%,
    #1941a5 98%
  );
}
.startBtn{
  background-image: url('../../assets/images/start_btn.png');
  height: 100%;
  width: 110px;
  background-repeat: no-repeat;
  position: relative;
}
.startBtn:hover::after {
    content: "";
    position: absolute;
    top: 0; bottom: 0; left: 0; right: 0; 
    background: linear-gradient(to right, rgba(255, 255, 255, 0.06) 90%,rgba(255, 255, 255, 0))
}
.startMenu{
  width: 400px;
  height: 400px;
  background: green;
  position: absolute;
  bottom: 100%;
}