.startBg{
  width: 100%;
  height: 100%;
  position: relative;
  display: grid;
  grid-template-columns: 120px 8fr 1fr;
  background: linear-gradient(
    to bottom,
    #1f2f86 0,
    #3165c4 3%,
    #3682e5 6%,
    #4490e6 10%,
    #3883e5 12%,
    #2b71e0 15%,
    #2663da 18%,
    #235bd6 20%,
    #2258d5 23%,
    #2157d6 38%,
    #245ddb 54%,
    #2562df 86%,
    #245fdc 89%,
    #2158d4 92%,
    #1d4ec0 95%,
    #1941a5 98%
  );
}
.startBtn{
  background-image: url('../../assets/images/start_btn.png');
  height: 100%;
  width: 100%;
  background-repeat: no-repeat;
  position: relative;
}
.startBtn:hover::after {
    content: "";
    position: absolute;
    top: 0; bottom: 0; left: 0; right: 0; 
    background: linear-gradient(to right, rgba(255, 255, 255, 0.06) 90%,rgba(255, 255, 255, 0))
}
.startMenu{
  width: 400px;
  height: 400px;
  background: green;
  position: absolute;
  bottom: 100%;
}
.taskbar_buttons_tray{
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30px, 150px));
}



.taskbar_button {
  color: #fff;
  border-radius: 0.2rem;
  margin-top: 0.2rem;
  padding: 0 8px;
  height: 90%;
  display: flex;
  align-items: center;
  justify-content: start;
  background-color: #3c81f3;
  box-shadow: inset -1px 0px rgba(0, 0, 0, 0.3),
    inset 1px 1px 1px rgba(255, 255, 255, 0.2);
}
/* .footer__icon {
  height: 15px;
  width: 15px;
}
.footer__text {
  position: absolute;
  left: 27px;
  right: 8px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
} */
.taskbar_button.unfocused:hover {
  background-color: #53a3ff;
  box-shadow: inset -1px 0px rgba(0, 0, 0, 0.3),
    inset 1px 1px 1px rgba(255, 255, 255, 0.2);
}
.taskbar_button.unfocused:before {
  display: block;
  content: '';
  position: absolute;
  left: -2px;
  top: -2px;
  width: 10px;
  height: 1px;
  border-bottom-right-radius: 50%;
  box-shadow: 2px 2px 3px rgba(255, 255, 255, 0.5);
}
.taskbar_button.unfocused:hover:active {
  background-color: #1e52b7;
  box-shadow: inset 0 0 1px 1px rgba(0, 0, 0, 0.3),
    inset 1px 0 1px rgba(0, 0, 0, 0.7);
}
.taskbar_button.focused:hover {
  background-color: #3576f3;
}
.taskbar_button.focused:hover:active {
  background-color: #1e52b7;
}
.taskbar_button.focused {
  background-color: #1e52b7;
  box-shadow: inset 0 0 1px 1px rgba(0, 0, 0, 0.2),
    inset 1px 0 1px rgba(0, 0, 0, 0.7);
}
.footer__time {
  margin: 0 5px;
  color: #fff;
  font-size: 11px;
  font-weight: lighter;
  text-shadow: none;
}