.project_card_wrapper {
  background-color: #64d0ff;
  border-radius: 5px;
  width: 100%;
  display: grid;
  grid-template-rows: 3rem 2rem 1fr;
  margin: 0 0 1rem 0;
  padding: 0.5rem;
}
.title{
  height: 1.5rem;
  font-size: 1.2rem;
  color: rgb(255, 255, 255);
}
.fade_line {
  height: 1px;
  width: 100%;
  margin: 0 auto;
  background-image: linear-gradient(to right,rgba(255, 255, 255, 0) 0%, rgb(0, 174, 255) 30%, rgb(0, 174, 255) 70%, rgba(255, 255, 255, 0) 100%);
}